@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0F141F;
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #A5A8B2 !important;
}

.hide-scroll-bar::-webkit-scrollbar{
  display: none !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll-bar{
  -ms-overflow-style: none;
  scrollbar-width: none
}